@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #ddd;
  color: #000;
  font-family: Inter, sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner::after {
  content: "";
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  border-radius: 50%;
}
.spinner {
  display: block;
  height: 100px;
  width: 100px;
  position: relative;
  margin-inline: auto;
}
.app_layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.spinner.smooth::after {
  border-top: 4px solid #1b9aaa;
  border-left: 4px solid #1b9aaa;
  border-right: 4px solid rgba(255, 255, 255, 0);
  animation: spinner 0.6s linear infinite;
}
